<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="MyCo-10-1.00">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import MyCo-10-1.00 urdf file -->
    <xacro:include filename="$(find myco_description)/urdf/MyCo-10-1.00.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="MyCo-10-1.00.ros2_control.xacro" />


    <xacro:MyCo-10-1_00_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>
</robot>
